<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ category.name }}</span>
	</div>
	<div class="common_box_panel common_tool_strip">
		<span class="common_h2">
			<img class="icon_16x16" width="16px" height="16px" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_category.png') }}" />
			<a class="heading_link" href="{{ path('cc_forum_category_show', {'category_id': category.id }) }}">{{ category.name }}</a>
			<a class="button_link" href="{{ path('cc_admin_forum_category_edit', {'category_id': category.getId }) }}">{{ 'link.category.edit' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_link" href="{{ path('cc_admin_forum_category_delete', {'category_id': category.getId }) }}">{{ 'link.category.delete' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_link" href="{{ path('cc_admin_forum_board_create_on_category', {'category_id': category.getId }) }}">{{ 'link.board.add' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_link" href="{{ path('cc_admin_forum_category_move_up_priority', {'category_id': category.getId }) }}">{{ 'link.item.move_up' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_link" href="{{ path('cc_admin_forum_category_move_down_priority', {'category_id': category.getId }) }}">{{ 'link.item.move_down' | trans({}, 'CCDNForumAdminBundle') }}</a>
		</span>
	</div>
	<div class="common_box_panel">
		<table class="common_list">
			<thead>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
			{% for row, board in category.boards %}
				{% include "CCDNForumAdminBundle:Category:item_board.html.twig" %}
			{% else %}
				<tr>
					<td class="board_centre" colspan="4" width="100%" >	
						{{ 'category.table.empty' | trans({}, 'CCDNForumForumBundle') }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>