{% extends param('ccdn_forum_moderator.flag.layout_templates.show_flagged') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{{ 'title.flag.show.all' | trans({}, 'CCDNForumModeratorBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}

	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumModeratorBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_show_all_flagged_posts', {}) }}">{{ 'sidebar.link.show_all_flagged_posts' | trans({}, 'CCDNForumModeratorBundle') }}</a></div>	
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_show_all_locked_posts', {}) }}">{{ 'sidebar.link.show_all_locked_posts' | trans({}, 'CCDNForumModeratorBundle') }}</a></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_show_all_closed_topics', {}) }}">{{ 'sidebar.link.show_all_closed_topics' | trans({}, 'CCDNForumModeratorBundle') }}</a></div>
	</div>

	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.flags_by_status' | trans({}, 'CCDNForumModeratorBundle') }}</span></div>
		{% for status_key, status in status_codes %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_show_all_flagged_posts_status', {'status':status_key}) }}">{{ status }}</a></div>
		{% endfor %}
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ 'title.flag.show.all' | trans({}, 'CCDNForumModeratorBundle') }}</span>
	</div>
	<div class="common_box_panel">
		<img class="icon_16x16" width="16px" height="16px" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_flag.png') }}" />
		<a class="heading_link" href="{{ path(app.request.attributes.get('_route')) }}">{{ 'title.flag.show.all' | trans({}, 'CCDNForumModeratorBundle') }}</a><br />
	</div>
	<div class="common_box_panel common_tool_strip">
		<div class="pagerfanta">
			{{ pagerfanta(pager, 'default', {'routeName':'cc_moderator_forum_show_all_flagged_posts_status_paginated', 'routeParams':{}} ) }}
		</div>
	</div>
	<div class="common_box_panel">
		<table class="common_list">
			<thead>
				<th></th>
				<th class="h_align_left v_align_middle">{{ 'flag.table.head.topic' | trans({}, 'CCDNForumModeratorBundle') }}</th>
				<th class="h_align_left v_align_middle">{{ 'flag.table.head.board' | trans({}, 'CCDNForumModeratorBundle') }}</th>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
			{% for post_key, post in posts %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'posts') }} }}">
					<td class="h_align_centre v_align_middle"><img class="icon_16x16" width="16px" height="16px" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_communication.png') }}" /></td>
					<td class="h_align_left v_align_top">
						<a href="{{ path('cc_forum_topic_show', {'topic_id': post.getTopic.getId }) }}">#{{post.getId}}&nbsp;{{ post.getTopic.getTitle }}</a>
						<br />
						{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
						{% if post.getCreatedBy %}
							<a class="username_medium" href="{{ path(user_profile_route, {'user_id': post.getCreatedBy.getId } ) }}">{{ post.getCreatedBy }}</a>
						{% else %}
							Guest
						{% endif %}
						{{ 'actioned.at' | trans({'%date%': post.getCreatedDate|date("d/m/Y - H:i:s")}, 'CCDNForumForumBundle') }}
					</td>
					<td class="h_align_left v_align_middle">
						{{ 'flag.posted_on_board' | trans({}, 'CCDNForumModeratorBundle') }}&nbsp;
						<a href="{{ path('cc_forum_category_show', {'category_id': post.getTopic.getBoard.getCategory.id }) }}">{{ post.getTopic.getBoard.getCategory.getName }}</a> / 
						<a href="{{ path('cc_forum_board_show', {'board_id': post.getTopic.getBoard.id }) }}">{{ post.getTopic.getBoard.getName }}</a>
					</td>
				</tr>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'posts') }}">
					<td></td>
					<td class="padding_0" colspan="2">
						<div class="common_box_panel margin_0">
							<table class="common_list">
								<thead>
									<th></th>
									<th class="padding_5 h_align_left v_align_middle">{{ 'flag.table.head.reason' | trans({}, 'CCDNForumModeratorBundle') }}</th>
									<th class="padding_5 h_align_left v_align_middle">{{ 'flag.flagged_by' | trans({}, 'CCDNForumModeratorBundle') }}</th>
									<th class="padding_5 h_align_left v_align_middle">{{ 'actioned.at' | trans({}, 'CCDNForumModeratorBundle') }}</th>
									<th class="padding_5 h_align_left v_align_middle">{{ 'flag.table.head.status' | trans({}, 'CCDNForumModeratorBundle') }}</th>
								</thead>
								<tbody>
									{% for flag_key, flag in post.flags %}
									<tr class="{{ cycle(['row_odd', 'row_even'], flag_key) }}">
										<td class="padding_5 h_align_centre v_align_middle"><img class="icon_16x16" width="16px" height="16px" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_flag.png') }}" /></td>
										<td class="padding_5 h_align_left v_align_middle">
											<a href="{{ path('cc_moderator_forum_show_flag', {'flag_id': flag.getId }) }}">{{ reason_codes[flag.getReason] }}</a>
										</td>
										<td class="padding_5 h_align_left v_align_middle">
											{% if flag.getFlaggedBy %}
												<a class="username_medium" href="{{ path(user_profile_route, {'user_id': flag.getFlaggedBy.getId } ) }}">{{ flag.getFlaggedBy }}</a>
											{% else %}
												Guest
											{% endif %}
										</td>
										<td class="padding_5 h_align_left v_align_middle">
											{{ flag.getFlaggedDate|date("d/m/Y - H:i:s") }}
										</td>
										<td class="padding_5 h_align_left v_align_middle">
											{{ status_codes[flag.getStatus] }}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td class="h_align_centre v_align_middle" colspan="3">
					{{ 'flag.table.none' | trans({}, 'CCDNForumModeratorBundle') }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="common_box_panel common_tool_strip">
		<div class="pagerfanta">
			{{ pagerfanta(pager, 'default', {'routeName':'cc_moderator_forum_show_all_flagged_posts_status_paginated', 'routeParams':{}} ) }}
		</div>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}